.menu {
  background: var(--bg-color-menu);
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  border: 1px solid var(--color-border-overlay);
  border-radius: 6px;
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}
