.container {
  display: flex;
  height: 100vh;
  padding: 10px;
  flex-wrap: nowrap;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  & > * {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
