:root {
  // icon button
  --icon-button-size: 1.5rem;

  // hr
  --hr-bg-color: #cccccc;

  // menu
  --bg-color-menu: #fff;
  --bg-color-menu-item-hovered: rgb(7, 72, 103);
  --color-border-overlay: rgb(225, 228, 232);
  --color-menu-item-hovered: #fff;
  --size-menu-item: 1.2rem;
}
